#https://docs.travis-ci.com/user/customizing-the-build/ variaveis
language: android
jdk: oraclejdk8
sudo: false

android:
  components:
    # The BuildTools version used by your project
    - build-tools-26.0.0
    # The SDK version used to compile your project
    - android-26
    # Additional components
    - extra-android-m2repository
    - extra-android-support
    - extra-google-m2repository
    #- addon-google_apis-google-19
    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-26
  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+
    - '.+'

before_cache:
    - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
    - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
    directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
    
before_script:
    - android list target
    # Emulator Management: Create, Start and Wait
    - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &
    
#script: ./gradlew build connectedCheck --stacktrace --info
script: 
    - ./gradlew test
    - ./gradlew build connectedCheck -PdisablePreDex
    - ./gradlew build jacocoTestReport assembleAndroidTest

before_install:
    - chmod +x gradlew 
    - mkdir "$ANDROID_HOME/licenses" || true
    - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
    - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
    - pip install --user codecov
after_success:
    #- codecov --file coverage/lcov.info --disable search
    - bash <(curl -s https://codecov.io/bash)
    - git clone https://github.com/TroniPM/NutriCampusUnitTestReport.git
    - pwd
    - ls
after_failure:
    #- git clone https://github.com/TroniPM/NutriCampusUnitTestReport.git
    - pwd
    - ls
    #- cp -a /home/travis/build/ddefb/NutriCampus/app/build/reports/tests/testDebugUnitTest/. /dest/
    #- cd NutriCampusReports
    #- git commit -m "Initial commit"
    #- 
    - bash <(curl -s https://codecov.io/bash)

    
#Executar isso quando for na primeira vez pra ficar no cache????
#install:
  #- echo y | android update sdk -u -a -t tools
  #- echo y | android update sdk -u -a -t platform-tools
  #- echo y | android update sdk -u -a -t build-tools-26.0.0
  #- echo y | android update sdk -u -a -t android-26
  #- echo y | android update sdk -u -a -t extra-android-support
  #- echo y | android update sdk -u -a -t extra-google-m2repository
  #- echo y | android update sdk -u -a -t extra-android-m2repository

env:
  global:
    # install timeout in minutes (2 minutes by default)
    - ADB_INSTALL_TIMEOUT=10
