<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expoagro.expoagrobrasil">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_expoagrob"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!-- android:theme="@android:style/Theme.NoTitleBar"> -->
        </activity>
        <activity
            android:name=".controller.ArrobaDoBoiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.InicialArrobaActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.CadastroUsuarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.AlterarUsuarioActivity"
            android:label="@string/title_activity_alterar_usuario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.CompletarCadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.RecuperarSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.AlterarSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.VisualizarUsuarioActivity"
            android:parentActivityName=".controller.MenuProdutoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.MenuProdutoActivity" />
        </activity>
        <activity
            android:name=".controller.CadastroProdutoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".controller.CadastroServicoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".controller.MenuProdutoActivity"
            android:parentActivityName=".controller.MenuProdutoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.MenuProdutoActivity" />
        </activity>
        <activity
            android:name=".controller.VisualizarProdutoActivity"
            android:parentActivityName=".controller.VisualizarProdutoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.VisualizarProdutoActivity" />
        </activity>
        <activity
            android:name=".controller.VisualizarServicoActivity"
            android:parentActivityName=".controller.VisualizarServicoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.VisualizarServicoActivity" />
        </activity>
        <activity
            android:name=".controller.VisualizarMeusProdutosActivity"
            android:parentActivityName=".controller.VisualizarMeusProdutosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.VisualizarMeusProdutosActivity" />
        </activity>
        <activity
            android:name=".controller.VisualizarMeuProdutoClicadoActivity"
            android:parentActivityName=".controller.VisualizarMeuProdutoClicadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.AlterarProdutoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.CategoriasActivity"
            android:label="Categorias"
            android:parentActivityName=".controller.MenuProdutoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.MenuProdutoActivity" />
        </activity>
        <activity
            android:name=".controller.MenuServicoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.VisualizarMeusServicosActivity"
            android:parentActivityName=".controller.VisualizarMeusServicosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.VisualizarMeusServicosActivity" />
        </activity>
        <activity
            android:name=".controller.VisualizarMeuServicoClicadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.FrequenciasActivity"
            android:label="Frequências"
            android:parentActivityName=".controller.MenuServicoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.MenuServicoActivity" />
        </activity>
        <activity
            android:name=".controller.AlterarServicoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.VisualizarAnuncianteActivity"
            android:label="Anunciante"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".controller.FavoritosActivity"
            android:label="@string/title_activity_favoritos"
            android:parentActivityName=".controller.FavoritosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.FavoritosActivity" />
        </activity>
        <activity
            android:name=".controller.ComentariosActivity"
            android:label="@string/title_activity_comentarios"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".controller.NovoComentarioActivity"
            android:label="Novo Comentário"
            android:parentActivityName=".controller.ComentariosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.ComentariosActivity" />
        </activity>
        <activity
            android:name=".controller.SobreActivity"
            android:parentActivityName=".controller.SobreActivity"
            android:label="Sobre"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.expoagro.expoagrobrasil.controller.SobreActivity" />
        </activity>
    </application>

</manifest>